# vim: ft=yaml fdm=marker et sts=2 sw=2
---
BasedOnStyle: LLVM
UseTab: Never
IndentWidth: 4
ColumnLimit: 100
---
Language: Cpp

# Force pointers to the type for C++.
DerivePointerAlignment: false
PointerAlignment: Left

# If true, a space is inserted after C style casts.
SpaceAfterCStyleCast: true
---
