[Desktop Entry]
Name=PDF Cropper
GenericName=PDF cropping tool
Icon=edit-cut
Comment=Crop PDF files
Exec=pdfcropper %F
TryExec=pdfcropper
Categories=Office;
StartupNotify=false
Terminal=false
Type=Application
MimeType=application/pdf;
