snippet dsm
	Dear Sir/Madam,


snippet inf
	Cheers,
	Manu
snippet sig # w/o address
	Sincerely,

	Manu Mannattil
snippet sig # w/ address
	Sincerely,

	Manu Mannattil

	First-year Graduate Student
	Department of Physics
	Syracuse University
	Syracuse, NY 13244-2530
	Phone: +1 (315) 515-7373
snippet ty
	Thank you.
snippet tym
	Thank you for your email.
snippet tyr
	Thank you for your reply.
