snippet dsm
	Dear Sir/Madam,


snippet inf
	Thanks,
	Manu
snippet sig # w/ address
	Sincerely,

	Manu Mannattil

	Postdoctoral Fellow in Applied Mathematics
	Harvard University SEAS
	Phone: (+1) 857-287-1865
snippet sig # w/o address
	Sincerely,

	Manu Mannattil
snippet ty
	Thank you.
snippet tym
	Thank you for your email.
snippet tyr
	Thank you for your reply.
snippet zoom
	https://harvard.zoom.us/j/6538621107?pwd=Ofq7z7scx0ISbQfVYaRxr5a2JT0b87.1
	Meeting ID: 6538621107
	Passcode: 355/113
