# vim: ft=gitconfig fdm=marker et sts=2 sw=2

[user]
  name  = Manu Mannattil
  email = manu.mannattil@posteo.net

[core]
  attributesfile = ~/.gitattributes
  excludesfile = ~/.cvsignore
  editor = vim

[alias]
  br = branch
  ci = commit
  cl = clone
  co = checkout
  dc = diff --cached
  df = diff --diff-filter=d
  dt = difftool
  empty-commit = commit --allow-empty-message -m ''
  lg = log --branches --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(blue)[%an]%Creset' --abbrev-commit --date-order
  root = rev-parse --show-toplevel
  st = status -s
  texdiff = !git-latexdiff --latexmk --ln-untracked --quiet --latexpand --makeatletter
  wd = diff --word-diff

[color]
  ui = auto

[diff]
  tool = vimdiff

[difftool]
  prompt = false
  trustExitCode = true

[push]
  default = matching

[diff "gpg"]
  binary = true
  textconv = gpg --decrypt --quiet --yes --compress-algo=none --no-encrypt-to --batch --use-agent

[credential]
  # Run ~/.git-pass using the shell.
  helper = !~/.git-pass $@
  # Supply the full path of the repository to the helper program.
  useHttpPath = true

[rebase]
  autoStash = true
