# vim: ft=gitconfig fdm=marker et sts=2 sw=2

[init]
  defaultBranch = master

[user]
  name  = Manu Mannattil
  email = manu.mannattil@posteo.net

[core]
  attributesfile = ~/.gitattributes
  excludesfile = ~/.cvsignore
  editor = vim
  pager = perl /usr/share/doc/git/contrib/diff-highlight/diff-highlight | less

[alias]
  br = branch
  ci = commit
  cl = clone
  co = checkout
  dc = diff --patience --cached
  df = diff --patience --diff-filter=d
  dl = clone --depth=1
  dt = difftool
  empty-commit = commit --allow-empty-message -m ''
  lg = log --branches --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(blue)[%an]%Creset' --abbrev-commit --date-order
  root = rev-parse --show-toplevel
  st = status --branch --short --untracked-files=all
  stt = !git --no-pager diff --stat
  texdiff = !git-latexdiff --latexmk --ln-untracked --quiet --latexpand --makeatletter --ignore-latex-errors
  wd = diff --word-diff --unified=0 --word-diff-regex=[^[:space:],]+ --color-words
  dw = wd

[color]
  ui = auto

[diff]
  tool = vimdiff

[difftool]
  prompt = false
  trustExitCode = true

[push]
  default = matching

[diff "gpg"]
  binary = true
  textconv = gpg --decrypt --quiet --yes --compress-algo=none --no-encrypt-to --batch --use-agent

[credential]
  # Run ~/.git-pass using the shell.
  helper = !~/.git-pass $@
  # Supply the full path of the repository to the helper program.
  useHttpPath = true

[rebase]
  autoStash = true

[help]
  autocorrect = 1

[interactive]
  difffilter = perl /usr/share/doc/git/contrib/diff-highlight/diff-highlight

# After GitHub removed support for password-based HTTP authentication,
# the simplest way to pull/push from/to a repository is using SSH.
# However, sometimes the displayed repository URI is an HTTP URI.  The
# option below converts an HTTP repository URI into an SSH URI whenever
# encountered.
[url "git@github.com:"]
  insteadOf = https://github.com/
  insteadOf = git://github.com/

# Convert Overleaf project URIs into Git repository URIs.
[url "https://git.overleaf.com/"]
  insteadOf = https://www.overleaf.com/project/
  insteadOf = https://overleaf.com/project/
