/* Beautiful Helvetica throughout. */
* {
    font-family: "Nimbus Sans L", FreeSans, Helvetica, Arial, sans-serif;
    font-size: 10px;
}

/* Item body and description. */
div.content {
    margin: 2em 2em auto;
    width: 32em;
    color: #111;
}

h1 {
    font-size: 1.3em;
}

h2 {
    font-size: 1.2em;
}

h3 {
    font-size: 1.1em;
}

/* The Economist subscription crap. */
.newsletter-form,
.newsletter-form--inline {
    display: none;
}

/* The Hindu subscription crap. */
.know-txt,
.subscriptiontext,
.subarticlepay {
    display: none;
}
