* {
  font-family: "Nimbus Sans L", FreeSans, Helvetica, Arial, sans-serif;
  color: #eee !important;
  background-color: #333 !important;
  border-color: #666 !important;
  line-height: 150%;
}

/* Item body and description. */
div.content {
  margin: 2em 2em auto;
  width: 36em;
}

code, pre {
  font-family: monospace;
}

img {
  width: 100%;
  max-width: 32em !important;
}

h1 {
  font-size: 1.3em;
}

h2 {
  font-size: 1.2em;
}

h3 {
  font-size: 1.0em;
}

a {
  color: #00dead !important;
  text-decoration: none !important;
}

a:hover {
  text-decoration: underline !important;
}

/* The Economist subscription crap. */
.newsletter-form,
.newsletter-form--inline {
  display: none;
}

/* The Hindu subscription crap. */
.know-txt,
.subscriptiontext,
.subarticlepay {
  display: none;
}

/* Substack subscription button. */
.button,
.primary,
.button-wrapper {
  display: none;
}
